*{
    margin: 0;
    padding: 0;
}

.bg-img{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(41, 0, 94);
    overflow-x: hidden;
}

.btn{
    display: flex;
    gap:10px;
    
}

.btn button{
    padding: 2px 25px;
    background-color:#EF155F;;
    cursor: pointer;
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 5px;

}

.btn button:hover{
    background-color:rgb(78, 0, 151);
    color:white;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.614), -1px -1px 5px rgb(255, 255, 255, 0.614);
    transition: 0.5s;
}

.btn button:active{
    background-color:rgb(78, 0, 151);
}

.container h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


input{
   width: 100%;
    padding: 7px 2px;
    border-radius: 5px;
    outline: none;
    
}

input:focus{
    border-color:rgb(143, 90, 227);
}


.container{
    position: absolute;
    z-index: 999;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: fit-content;
    width: 30rem;
    max-width:100%;
    background-color: rgba(13, 0, 38, 0.625);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px 20px;
    border: 0.5px solid rgba(255, 217, 0, 0.53);
    box-shadow: 2px 2px 10px rgb(255, 255, 255),inset 1px 1px 5px rgb(255, 255, 255);
}

.context{
    display: flex;
    gap:15px;
    width: 100%;
}

#todolist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 10px;
}

.todoli{
    display: flex;
    gap : 10px;
}

.todolistchild{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 19px;
    font-weight: bold;
    gap: 5px;
}

.todolistchild2{
    display: flex;
    gap:10px;
}


.todolistchild2 button{
    font-size:12px;
    padding: 5px 10px;
    background-color: #EF155F;
    cursor: pointer;
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    
}

.todolistchild2 button:hover{
    background-color:rgb(78, 0, 151);
}

.todolistchild2 button:active{
    background-color:rgb(78, 0, 151);
}

.todolistchild p{
    min-width: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    word-break: break-word;
    overflow-wrap: break-word;
}

.completed{
    text-decoration: line-through;
    color: red;
}

.todolistchild input{
    width: fit-content;
}

@media (max-width:768px) {
    .container{
        width: 30rem;
    }
}

@media (max-width:565px) {
    .container{
        width: 80%;
        margin: 0 10px;
    }

    input{
    width: 100%;
    padding: 7px 2px;
    }

    .container h1{
        font-size: 1.5rem;
    }
}