*{
    margin: 0;
    padding: 0;
}

html,body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(176, 176, 176);
}

.btn{
    display: flex;
    gap:10px;
}

.btn button{
    padding: 5px 15px;
    cursor: pointer;

}

.btn button:hover{
    background-color: black;
    color:white;
}



input{
   width: 20rem;
   padding: 7px 2px;
}

.container{
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 100%;
    max-width:fit-content;
    background-color: rgba(255, 255, 255, 0.625);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 20px;
}

.context{
    display: flex;
    gap:15px;
}

#todolist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}



.todolistchild{
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-size: 19px;
    font-weight: bold;
    justify-content: space-around;
}

.todolistchild2{
    display: flex;
    gap:10px;
}


.todolistchild2 button{
    padding: 4px 6px;
    background-color: black;
    color:white;
    cursor: pointer;
    
}

.todolistchild p{
    cursor: pointer;
    padding-bottom: 5px;
}

.todolistchild p:checked{
    color: red;
}