*{
    margin: 0;
    padding: 0;
}

html,body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(176, 176, 176);
}

.btn{
    display: flex;
    gap:10px;
}

.btn button{
    padding: 5px 15px;
    cursor: pointer;

}

.btn button:hover{
    background-color: black;
    color:white;
}



input{
   width: 20rem;
   padding: 7px 2px;
}

.container{
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 100%;
    max-width:fit-content;
    background-color: rgba(255, 255, 255, 0.625);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 20px;
}

#todolist{
font-size: 21px;
align-self: self-start;
}

#todolist p{
    cursor: pointer;
    padding-bottom: 5px;
}